html {
    height: 100%;
}

body{
    margin: 0px;
    height: 100%;
}

#root{
    height: 100%;
}

.fullCenter {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}